<div class="bar bar-header bar-dark">
    <h1 class="title">TodoList Mayol</h1>
  </div>
  <div class="padding">

  </div>

  <div class="padding">
    
    </div>
<div class="card">
      <form ng-submit="login()">
          <div class="item item-divider">
              Se connecter
            </div>
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nom d'utilisateur</span>
            <input type="text" ng-model="user.username" placeholder="Nom d'utilisateur">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Mot de passe</span>
            <input type="password" ng-model="user.password" placeholder="Mot de passe">
          </label>
          <div class="item item-divider">
            <button class="button button-block button-positive" type="submit">Se connecter</button>
        </div>
        </div>
      </form>
    </div>

    <div class="card">
        <form ng-submit="createUser()">
            <div class="item item-divider">
                Inscription
              </div>
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Nom d'utilisateur</span>
              <input type="text" ng-model="userR.username" placeholder="Nom d'utilisateur">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Mot de passe</span>
              <input type="password" ng-model="userR.password" placeholder="Mot de passe">
            </label>
            <div class="item item-divider">
              <button class="button button-block button-positive" type="submit">S'inscrire</button>
          </div>
          </div>
        </form>
      </div>