<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{liste.name}}</h1>
        <button class="button button-clear button-primary" ng-click="listModal.hide()"><i
                class="ion-icon ion-close"></i></button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row">
                <h5>Collaborateurs :</h2>
        </div>
        <ion-list>
            <ion-item ng-repeat="collaborator in liste.collaborators" class="item-icon-right">
                {{collaborator}} <span ng-show="collaborator == user.username">(vous)</span>
                <a class="icon badge" ng-click="removeCollaborator(liste._id, collaborator)" ng-show="liste.author == user.username">
                        &times;
                </a>
            </ion-item>
            <ion-item class="item-input-inset" ng-show="liste.author == user.username">
                    <label class="item-input-wrapper">
                            <input type="text" placeholder="Nouveau collaborateur" ng-model="userData.username">
                    </label>
                    <button class="button button-small" ng-click="shareList(liste._id)">
                            <i class="icon ion-plus"></i>
                    </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>