<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">{{liste.name}}</h1>
            <button class="button button-clear button-primary" ng-click="taskModal.hide()"><i
                    class="ion-icon ion-close"></i></button>
        </ion-header-bar>
        <ion-content class="has-header">
            <div class="row">
                    <h5>Tâches :</h2>
            </div>
            <ion-list>
                <ion-item ng-repeat="taskData in liste.tasks" class="item-icon-left item-icon-right">
                    <input type="checkbox" class="icon" ng-model="taskData.done" ng-change="updateTask(liste._id, taskData)">
                    <label class="item-input">
                        <input type="text" ng-model="taskData.name"  ng-change="updateTask(x._id,taskData)" ng-model-options='{ debounce: 1000 }'
                        ng-disabled="taskData.done">
                    </label>
                    <a class="icon badge" ng-click="deleteTask(liste._id, taskData._id)" > &times;</a>
                </ion-item>
                <ion-item class="item-input-inset" ng-show="liste.author == user.username">
                        <label class="item-input-wrapper">
                                <input type="text" placeholder="Nouvelle tâche" ng-model="taskData.newtask">
                        </label>
                        <button class="button button-small" ng-click="createTask(liste._id, taskData.newtask)">
                                <i class="icon ion-plus"></i>
                        </button>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-modal-view>