<div class="bar bar-header bar-dark">
        <h1 class="title">Bienvenue {{user.username}}</h1>
        <button class="button button-clear button-primary" ng-click="logout()">
                Déconnexion</button>
</div>


<div class="bar bar-subheader bar-positive">
        <div class="buttons">
                <button class="button button-icon icon ion-ios-minus-outline"
                        ng-click="data.showDelete = !data.showDelete"></button>
        </div>
        <h1 class="title">Vos listes</h1>
</div>
<ion-content class="has-header has-subheader">
        <ion-list ng-controller="TodoCtrl" show-delete="data.showDelete">

                <ion-item ng-repeat="liste in laliste" ng-click="openTaskList(liste)">

                        <ion-delete-button class="ion-minus-circled" ng-click="deleteList(liste)">
                        </ion-delete-button>
                        {{liste.name}} <span class="item-note">
                                créée par {{liste.author}}
                        </span>
                        <ion-option-button class="button-positive" ng-click="openCollabList(liste)">
                                Partager
                        </ion-option-button>


                </ion-item>
                <ion-item class="item-input-inset">
                        <label class="item-input-wrapper">
                                <input type="text" placeholder="Nouvelle liste" ng-model="listData.name">
                        </label>
                        <button class="button button-small" ng-click="createList(liste._id,listData.name)">
                                <i class="icon ion-plus"></i>
                        </button>
                </ion-item>
        </ion-list>
</ion-content>
</ion-tab>
