.close.supp {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #f00;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}

.close.add {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #28a745;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
