<div ng-controller="ConnectionCtrl">
    <div class="row" style="margin-top: 10%; margin-bottom: auto; display:block;">
    </div>
    <div class="container">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Connexion</h4>
                <hr>
                <p class="text-success text-center">Connectez vous pour accéder à vos listes</p>
                <form ng-submit="login()">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input ng-model="user.username" class="form-control" placeholder="Nom d'utilisateur"
                                type="text">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input ng-model="user.password" class="form-control" placeholder="******" type="password">
                        </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <div class="text-center">
                            <div class="btn-group" role="group" aria-label="Basic example">

                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#Modal">Inscription</button>
                                <button type="submit" class="btn btn-primary btn-block"> Identification </button>
                            </div>
                        </div>
                    </div> <!-- form-group// -->

                </form>
                <div class="collapse" id="collapseErrorLogin">
                        <div class="alert" role="alert"  ng-class="{'alert-success': errorData.success===true, 'alert-danger': errorData.success===false}">
                            {{errorData.error}}
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="#ModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="#ModalTitle">Inscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form ng-submit="createUser()">

                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i></span>
                                </div>
                                <input ng-model="userR.username" class="form-control" placeholder="Nom d'utilisateur"
                                    type="text" required>
                            </div> <!-- input-group.// -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i></span>
                                </div>
                                <input ng-model="userR.password" class="form-control" placeholder="Mot de passe"
                                    type="password" required>
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Valider </button>
                        </div>
                        <div class="collapse" id="collapseErrorInscription">
                                <div class="alert alert-danger" role="alert">
                                    {{errorData.error}}
                                </div>
                            </div>
                    </form>
                </div> <!-- form-group// -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>

    </div>
</div>