<div ng-controller="TodoCtrl">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"> 
            <img src="images/favicon.png" width="30" height="30" alt="">
            Bienvenue <span class="text-primary">{{user.username}}</span>
        </a>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="button"
            ng-click="logout()">D&eacute;connexion</button>
    </nav>
    <div class="row" style="margin-top: 2%; margin-bottom: auto; display:block;">
    </div>
    <div class="container">
        <div class="card-columns">
            <div ng-repeat="x in laliste | orderBy:'-author'" ng-init="color = x.author == user.username">
                <div class="card" ng-class="{'border-primary': color===true, 'border-success': color===false}">
                    <h5 class="card-header">{{x.name}}
                        <button type="button" class="close" aria-label="Close" ng-click="deleteList(x)">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </h5>
                    <div class="card-body">
                        <ul class="list-group card-text">
                            <li class="d-flex justify-content-between align-items-center"
                                ng-repeat="taskData in x.tasks | orderBy:'done'">
                                <div class="col">
                                    <input type="checkbox" ng-model="taskData.done"
                                        ng-change="updateTask(x._id,taskData)">
                                </div>
                                <input type="text" class="form-control-plaintext" ng-model="taskData.name"
                                    ng-change="updateTask(x._id,taskData)" ng-model-options='{ debounce: 1000 }'
                                    ng-disabled="taskData.done" />
                                <button type="button" class="close supp" aria-label="Close"
                                    ng-click="deleteTask(x._id,taskData._id)">
                                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                </button>
                            </li>

                            <li class="d-flex justify-content-between align-items-center">
                                <input type="text" class="form-control-plaintext" placeholder="Nouvelles tâches"
                                    ng-model="taskData.newtask">
                                <button type="button" class="close add" aria-label="Close" ng-click="createTask(x._id,taskData.newtask)">
                                    <span aria-hidden=" true"><i class="fas fa-plus"></i></span>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">Créée par <b>{{x.author}}</b></small>
                        <button type="button" class="close" data-toggle="modal" data-target="#Modal-collab{{x._id}}">
                            <span aria-hidden="true"><i class="fas fa-users-cog"></i></span>
                        </button>
                    </div>
                </div>

                <!--Affichage des collaborateurs-->
                <div class="modal fade" id="Modal-collab{{x._id}}" tabindex="-1" role="dialog"
                    aria-labelledby="#Modal-collab{{x._id}}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="#Modal-collab{{x._id}}">{{x.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>Collaborateurs</h5>
                                <ul class="list-group">
                                    <li class="d-flex justify-content-between align-items-center"
                                        ng-repeat="collaborator in x.collaborators">
                                        {{collaborator}}
                                        <button type="button" class="close supp" aria-label="Close"
                                            ng-click="removeCollaborator(x._id, collaborator)"
                                            ng-show="x.author == user.username">
                                            <span aria-hidden="true"><i class="fas fa-minus"></i></span>
                                        </button>
                                    </li>
                                    <li class="d-flex justify-content-between align-items-center"
                                        ng-if="x.author == user.username">
                                        <input type="text" class="form-control-plaintext"
                                            placeholder="Ajouter un collaborateur" ng-model="userData.username">
                                        <button type="button" class="close add" aria-label="Close"
                                            ng-click="shareList(x._id)">
                                            <span aria-hidden=" true"><i class="fas fa-plus"></i></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <small class="form-text text-muted"> Nombre de listes: {{ laliste.length }}</small>
        <br>
        <div id="todo-form" class="form-group">
            <form>
                <input type="text" placeholder="" ng-model="listData.name" class="form-control">
                <small class="form-text text-muted">Merci d'insérer une chose à faire.</small>
                <br />
                <button type="submit" ng-click="createList()" class="btn btn-primary">Ajouter</button>
            </form>
        </div>
    </div>
</div>